[project]
	description = my own python fuse google drive filesystem
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/goniz
[access "refs/for/refs/*"]
	read = group user/goniz
	push = group user/goniz
	label-Code-Review = -2..+2 group user/goniz
	label-Verified = -1..+1 group user/goniz
	rebase = group user/goniz
	removeReviewer = group user/goniz
	submit = group user/goniz
[access "refs/heads/*"]
	read = group user/goniz
	create = group user/goniz
	push = +force group user/goniz
	pushMerge = group user/goniz
[access "refs/tags/*"]
	push = +force group user/goniz
	pushTag = group user/goniz
	pushSignedTag = group user/goniz
